@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgba(128, 128, 128, 0.199);
}

.container {
    padding: 2rem;
    margin: 3rem auto;
    text-align: center;
    width: fit-content;
}

.container h1 {
    font-weight: 600;
}

.jokes {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.joke {
    padding: 2rem;
    border-radius: .6rem;
    background: white;
    max-width: 450px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.joke h2 {
    font-weight: 500;
}

.fetch {
    padding: .8rem 2.5rem;
    font-size: 17px;
    font-weight: 500;
    outline: none;
    background: rgb(65, 138, 167);
    border: none;
    color: white;
}